@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MDRRP M&E</h1>
    <p class="lead">Welcome to the Monitoring and Evaluation system for Malawi Drought Recovery and Resilience project.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Collect your data</h2>
        <p>
            This tool will guide you in both routine monitoring data as well as period data.
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Manage your data</h2>
        <p>We offer you a role based data management system. Allowing users manage data relevant to their job description</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Track your progress</h2>
        <p>Designed to make progress tracking a simple task</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>